.heading {
    font-size: 2.5em;
    font-weight: bolder;
    padding: 0;
    margin: 0
}

.subheading {
    font-size: 1.8em;
    padding: 0;
    margin: 0;
    line-height: 1;
}

.BGLogo {
    z-index: -2;
    position: fixed;
    height: 1000px;
    width: 1000px;
    top: -60px;
    right: -40px;
    -webkit-filter: brightness(0.08);
    filter: brightness(0.08);
}

.profileimg {
    position: absolute;
    height: 450px;
    width: 450px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    bottom: 35px;
    left: 45px;
}

.profileimg img {
    height: 100%;
}

.abouttext {
    font-size: 1.5em;
}

.aboutSubheading {
    font-size: 1.8em;
    font-weight: bolder;
    padding: 0;
    margin: 0;
}

.aboutBody {
    font-size: 1.2em;
    padding: 0;
    margin: 0;
}

.cardheading {
    font-size: 1.8em;
    font-weight: bolder;
    padding: 0;
    margin: 0;
}

.cardbody {
    font-size: 1.5em;
    padding: 0;
    margin: 0;
}

.cardbg {
    background-color: rgba(64, 64, 64, 0.7);
    height: 600px;
    width: 100%;
    margin: 0 1%;
    padding: 1.5%;
}
