.main {
    position: relative;
    background: #6b6b6b;
    width: 100%;
    text-align: center;
    height: 100vh;
    display: flex;
    padding: 0;
}

.textcenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}

#photocont {
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url(images/Design.jpg);
    background-size: cover;
    background-position: center;
}

.photo {
    -webkit-filter: opacity(0.6);
    filter: opacity(0.6);
}

#largeFontSize {
    font-family: 'Raleway';
    font-size: 3.5em;
    font-weight: 600;
    letter-spacing: 0.5em;
}

.projectcont {
    padding: 0 7%;
}

.project {
    position: relative;
    z-index: 0;
    height: 450px;
    width: 100%;
    padding: 0;
    margin: 1%;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.project img {
    height: 100%;
}

a > .project img {
    transition: 0.3s ease-in-out;
}

a:hover > .project img {
    -webkit-filter: brightness(0.4);
    filter: brightness(0.4);
}

.ProjText {
    position: absolute;
    top: 10px;
    left: 12px;
}

#ProjCat {
    font-family: 'Raleway';
    font-size: 1.2em;
    font-weight: 600;
    letter-spacing: 0.03em;
    margin: 0;
    padding: 0;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
}

#ProjTitle {
    font-size: 1.8em;
    line-height: 1;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
}

.help {
    padding: 10%;
}

.contactbtn {
    width: 300px;
    height: 60px;
    border-radius: 50px;
    border-width: 2px;
    border-color: white;
    background: none;
    color: white;
    transition: 0.3s ease-in, 0.3s ease-out;
}

.contactbtn:hover {
    background: #eec027;
    border-color: #eec027;
    color: black;
    cursor: pointer;
}

#btnfont {
    font-size: 1.5em;
    margin: auto;
    padding: auto;
}

.info {
    padding-bottom: 1.5%;
}

#infofont {
    font-size: 1em;
    letter-spacing: 0.03em;
}

.icon {
    font-size: 2em;
    margin: 0 3%;
    transition: 0.3s ease-in-out;
}

.icon:hover {
    color: #eec027;
}

.credit {
    border-top: 1px solid #3b3b3b;
    width: 50%;
    padding: 0.2%;
}

#creditText {
    font-size: 1em;
    color: #3b3b3b;
}

@media screen and (max-width: 1200px) {
    .project {
        width: 80%;
        display: block;
        margin: auto;
        padding: 10px 0;
    }
}